* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}
#wrapper {
  display: flex;
  flex-direction: column;
  background-color: #333333;
}
/*paleta de colores*/
a {
  color: #91a8D0;
  text-decoration: none;
}
a:hover {
  color: #333333;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3% 3% 1% 3%;
  background: silver;
}
#icono-menu {
  margin-bottom: 2%;
}
#ico {
  margin-left: 2%;
}

#avatar{
  width: 10%;
}

#avatar img{
  width: 100%;
}

#soy {
  color: #FF0040;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
}
nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.navLink {
  text-decoration-color: #fafafa;
  margin-left: 5%;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
#slider {
  background-color: #f7cac9;
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
}
.linea {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: silver;
}
 article {
  display: flex;
  width: 32%;
  margin-top: 1%;
}
.text {
  padding: 2% 1%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /***con flex**/
}
.text p {
  margin: 1.5% 0 1.5%;
  padding-bottom: 1em;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 3%;
  background: silver;
}
.socials {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.socials a {
  margin-left: 3%;
  width: 36px;
  height: 36px;
}

#iconoFc,
#iconoTw,
#iconoIns,
#iconoLinke,
#iconoGit {
  background-size: 36px 36px;
  background-repeat: no-repeat;
}
#iconoFc {
  background-image: url("../img/facebookGris.png");
}
#iconoFc:hover {
  background-image: url("../img/facebook.png");
  background-size: 36px 36px;
}
#iconoTw {
  background-image: url("../img/twitterGris.png");
}
#iconoTw:hover {
  background-image: url("../img/twitter.png");
  background-size: 36px 36px;
}
#iconoIns {
  background-image: url("../img/instagramGris.png");
}
#iconoIns:hover {
  background-image: url("../img/instagram.png");
  background-size: 36px 36px;
}
#iconoLinke {
  background-image: url("../img/linkedinGris.png");
}
#iconoLinke:hover {
  background-image: url("../img/linkedin.png");
  background-size: 36px 36px;
}
#iconoGit {
  background-image: url("../img/githubGris.png");
}
#iconoGit:hover {
  background-image: url("../img/github.png");
  background-size: 36px 36px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/*///////////////Style Slider///////////////*/
#slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.slideshow-container {
  max-width: 100%;
  max-height: auto;
  position: relative;
  margin: auto;
}
.mySlides {
  /*esconde las img por default*/
  display: none;
  width: 100%;
}
.prev,
.next {
  /*botones next y previo*/
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  /*posicion del boton next a la derecha*/
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  /*posicion del boton next a la derecha*/
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* fondo negro on hover*/
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Titulo Imagen Slider */
.text {
  color: #fafafa;
  font-size: 15px;
  padding: 0px 12px;
  /* position: absolute;*/
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* numero arriba 1/3 */
.numbertext {
  color: #fafafa;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
#dotsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: baseline;
  justify-content: center;
  width: 100%;
}
/* Puntos indicadores de posicion*/
.dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  padding-top: -15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Hover en el punto*/
.active,
.dot:hover {
  background-color: #717171;
}
/* Animacion del slide FADE*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*Paleta de colores*/
h1 {
  color: #fafafa;
}
p {
  color: #fafafa;
}
#contenidoSugerido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: silver;
  padding: 3%;
}
.section text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and  (max-width: 480px) {

header .linea{
  padding:3% 2%;
}

#ico {
  margin-left: 0%;
  width: 10%;
}

#ico img{
  width: 100%;
}

#avatar{
  width: 25%;
}

#avatar img{
  width: 100%;
}

nav .navLink{
   word-wrap: nowrap;
   font-size: 0.8em;
   margin-left: 3%;
}

.linea h1, .linea p{
  font-size: 0.7em;
}

.linea .socials{
  flex-direction: column;
  align-items: flex-end;
  width: auto;
}

.linea .socials a {
  margin-left: 3%;
  margin-bottom: 2%;
     width: 20px;
  height: 20px;
}

#iconoGit{
  margin-bottom: 0.3em;
}

#contenidoSugerido {
  flex-direction: column;
}

#contenidoSugerido article {
  width: 100%;
}

#contenidoSugerido article .text{
  font-size: 0.8em;
}

article figure img{
  width: 100%
}

footer {
  padding: 4% 3%;  
}

footer a{
  font-size: 0.8em;
}

footer .socials a{
  width: 25px;
  height: 25px;
}

#iconoFc,
#iconoTw,
#iconoIns{
  background-size: 25px 25px;
}

#iconoLinke,
#iconoGit {
  background-size: 20px 20px;
}

#iconoFc:hover {
  background-size: 25px 25px;
}

#iconoTw:hover {
  background-size: 25px 25px;
}

#iconoIns:hover {
  background-size: 25px 25px;
}

#iconoLinke:hover {
   background-size: 20px 20px;
}

#iconoGit:hover {
   background-size: 20px 20px;
}

}

@media screen and (min-width: 481px) and (max-width: 768px){


header #icono-menu{
  padding: 3% 2%;
}

#ico {
  margin-left: 0;
}

#avatar{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 25%;
}

#avatar img{
  width: 100%;
}

.linea .socials{
  width: 20%;
  margin-right: 1.5%;
}

#contenidoSugerido {
  padding-top:  6%;
  padding-bottom:  6%;
}

#contenidoSugerido article .text{
  font-size: 0.7em;
}

article figure{
  width: 25em;
}

article figure img{
  width: 100%;
}

article .text{
  align-items: flex-start;
}

article .text p, article .text h1{
  text-align: left;
}

footer {
  padding: 3%;  
}

}